<!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Adminstrador</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="/Admin"><i class="fa fa-link"></i> <span>Inicio</span></a></li>
        <li><a href="/admin/Categorias"><i class="fa fa-link"></i> <span>Categorias</span></a></li>
        <li><a href="/admin/Servicios"><i class="fa fa-link"></i> <span>Servicios</span></a></li>
        <li><a href="/admin/Administradores"><i class="fa fa-link"></i> <span>Administradores</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>