<!DOCTYPE html>
<html lang="en">

<head>

  <head>
    <%- include('partials/head'); -%>
  </head>

</head>

<body>
  <header>
    <%- include('partials/header'); -%>
  </header>
  <div id="all">
    <div id="heading-breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>Portfolio item detail</h1>
          </div>
          <div class="col-md-5">
            <ul class="breadcrumb">
              <li><a href="index.html">Home</a>
              </li>
              <li><a href="portfolio-2.html">Portfolio</a>
              </li>
              <li>Portfolio item detail</li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div id="content">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h2>Nombre Rikolino</h2>
            </div>
          </div>
        </div>
        <div class="row portfolio-project">

          <section>

            <div class="col-sm-8">
              <div class="project owl-carousel">
                <div class="item">
                  <img src="/images/main-slider1.jpg" alt="" class="img-responsive">
                </div>
                <div class="item">
                  <img class="img-responsive" src="/images/main-slider2.jpg" alt="">
                </div>
                <div class="item">
                  <img class="img-responsive" src="/images/main-slider3.jpg" alt="">
                </div>
                <div class="item">
                  <img class="img-responsive" src="/images/main-slider4.jpg" alt="">
                </div>
              </div>
              <!-- /.project owl-slider -->

            </div>

            <div class="col-sm-4">
              <div class="project-more">
                <h4>Descripción</h4>
                <p>Paseito Rikolino...</p>
                <h4>Preio</h4>
                <p><b>$420.00</b></p>
                <h4>localización</h4>
                <p>Las vegas de aserri</p>
              </div>
            </div>

          </section>
        </div>

        <section>
          <div class="row portfolio">

            <div class="col-md-12">
              <div class="heading">
                <h3>Related projects</h3>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div class="box-image">
                <div class="image">
                  <img src="/images/portfolio-1.jpg" alt="" class="img-responsive">
                </div>
                <div class="bg"></div>
                <div class="name">
                  <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3>
                </div>
                <div class="text">
                  <p class="buttons">
                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                  </p>
                </div>
              </div>
              <!-- /.box-image -->

            </div>

            <div class="col-sm-6 col-md-3">
              <div class="box-image">
                <div class="image">
                  <img src="/images/portfolio-2.jpg" alt="" class="img-responsive">
                </div>
                <div class="bg"></div>
                <div class="name">
                  <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3>
                </div>
                <div class="text">
                  <p class="buttons">
                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                  </p>
                </div>
              </div>
              <!-- /.box-image -->

            </div>

            <div class="col-sm-6 col-md-3">
              <div class="box-image">
                <div class="image">
                  <img src="/images/portfolio-3.jpg" alt="" class="img-responsive">
                </div>
                <div class="bg"></div>
                <div class="name">
                  <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3>
                </div>
                <div class="text">
                  <p class="buttons">
                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                  </p>
                </div>
              </div>
              <!-- /.box-image -->

            </div>

            <div class="col-sm-6 col-md-3">
              <div class="box-image">
                <div class="image">
                  <img src="/images/portfolio-4.jpg" alt="" class="img-responsive">
                </div>
                <div class="bg"></div>
                <div class="name">
                  <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3>
                </div>
                <div class="text">
                  <p class="buttons">
                    <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                    <a href="#" class="btn btn-template-transparent-primary">Website</a>
                  </p>
                </div>
              </div>
              <!-- /.box-image -->
            </div>

          </div>
        </section>

      </div>
      <!-- /.container -->


    </div>
    <!-- /#content -->

    <footer>
      <%- include('partials/footer'); -%>
    </footer>

  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="javascripts/jquery-1.11.0.min.js"><\/script>')
  </script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <script src="/javascripts/jquery.cookie.js"></script>
  <script src="/javascripts/waypoints.min.js"></script>
  <script src="/javascripts/jquery.counterup.min.js"></script>
  <script src="/javascripts/jquery.parallax-1.1.3.js"></script>
  <script src="/javascripts/front.js"></script>
  <script src="/javascripts/js.cookie.js"></script>

  <!-- owl carousel -->
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/signUp/signUp.js"></script>


</body>

</html>
